@import url('https://fonts.googleapis.com/css?family=Lugrasimo&effect=fire');
@import url('https://fonts.googleapis.com/css?family=Almendra');
@import url('https://fonts.googleapis.com/css?family=Sofia&effect=fire');

@font-face {
    font-family: 'TaborSinfonia';
    src: url('fonts/TaborSinfonia.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

header {
  padding: 30px;
  text-align: center;
  font-size: 35px;
  color: silver;
}

body {
  background-image: url('./Images/Background.png');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
  background-color: silver;
}


h1 {
  font-family: 'TaborSinfonia', 'Almendra', Lugrasimo;
  font-size: 6.75em;
  text-align: center;
}

h2 {
  font-family: 'Almendra', Lugrasimo, times new roman;
  font-size: 3.5em;
  text-align: center;
}

p {
  font-family: Lugrasimo, times new roman;
  font-size: 26px;
  color: black;
  text-align: center;
  width: 90%;
}
