@import url('https://fonts.googleapis.com/css?family=Lugrasimo&effect=fire');
@import url('https://fonts.googleapis.com/css?family=Almendra');
@import url('https://fonts.googleapis.com/css?family=Sofia&effect=fire');

@font-face {
    font-family: 'TaborSinfonia';
    src: url('fonts/TaborSinfonia.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

body {
  background-image: url('./Images/Background.png');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
  background-color: silver;
}


h1 {
  font-family: 'TaborSinfonia', 'Almendra', Lugrasimo;
  font-size: 6.75em;
  text-align: center;
}

h2 {
  font-family: 'Almendra', Lugrasimo, times new roman;
  font-size: 3.5em;
  text-align: center;
}

h3 {
  font-family: 'Almendra', Lugrasimo, times new roman;
  font-size: 3em;
  text-align: center;
}

h4 {
  font-family: 'Almendra', Lugrasimo, times new roman;
  font-size: 2.75em;
  text-align: center;
}

p {
  font-family: Lugrasimo, times new roman;
  font-size: 1.45em;
  color: black;
  text-align: center;
  width: 75%;
}


/* Container holding the image and the text */
.container {
  position: relative;
  text-align: center;
}


/* Spoiler button code */
.spoilerbutton {
  display: block;
  margin: 5px 0;
}

.spoiler {
  overflow: hidden;
}

.spoiler>div {
  margin: 5px;
  overflow: hidden;
  transition: all 0.1s ease;
}

.spoilerbutton[value="Show"]+.spoiler>div {
  max-height: 0;
}

.spoilerbutton[value="Hide"]+.spoiler>div {
  max-height: 50000px; /*use a big value here*/
}


/* Top nav bar code */

.topnav {
  font-family: 'Lugrasimo', 'times new roman';
  background-color: #947355;
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #B57A44;
  color: black;
}

/* Add an active class to highlight the current page */
.topnav a.active {
  background-color: #921505;
  font-family: 'Lugrasimo', 'times new roman';
  color: white;
}

/* Hide the link that should open and close the topnav on small screens */
.topnav .icon {
  display: none;
}

@media screen and (max-width: 600px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}